<?xml version='1.0' encoding='utf-8'?>
<widget id="no.byweb.ryzom" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />
    <name>Ryztools</name>
    <description>
        Ryztools - A collection of tools for the Ryzom MMORPG.
    </description>
    <author email="tux@krageroby.no" href="http://ryzom.byweb.no">
        Tux Solbakk (Drogos)
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
</widget>
