<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pocketfiction.ryztools" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ryztools</name>
    <description>
        Ryztools - A collection of tools for the Ryzom MMORPG.
    </description>
    <author email="fstltna@ryzomcity.org" href="http://ryzomcity.org">
        Marisa Giancarla (MarisaG)
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <icon src="icon.png" width="57" height="57" />
    <icon src="icon-72.png" width="72" height="72" />
    <icon src="icon_at_2x.png" width="114" height="114" />
    <icon src="icon-72_at_2x.png" width="144" height="144" />
    <!-- Launch Images -->
    <gap:splash src="splash/ios/Default.png" width="320" height="480" />
    <gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
    <gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
    <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="748" />
    <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1004" />
    <gap:splash src="splash/ios/Default-Landscape_at_2x.png" width="2048" height="1496" />
    <gap:splash src="splash/ios/Default-Portrait_at_2x.png" width="1536" height="2008" />
</widget>
